body {
  overflow-x: hidden;
  background-color: #FFF;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
}

/***************************************************
            VERSION DESKTOP
***************************************************/
@media screen and (min-width: 769px) {
  .menu--margin, .instruction--margin, .restaurants--margin, .footer--margin {
    max-width: 1400px;
    margin: 0 auto;
  }
}
body {
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Revalia";
  src: url(http://fonts.googleapis.com/css?family=Revalia);
}
.button__gradient {
  border-radius: 5em;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  padding: 20px 20px;
  color: #FFF;
  font-size: 16px;
  font-weight: bold;
}
.button__gradient--txt {
  display: inline-block;
  width: 165px;
  height: 25px;
  text-align: center;
}

.fav-checkbox {
  font-size: xx-large;
  align-self: center;
  margin-right: 0.5em;
  z-index: 1;
}
.fav-checkbox input[type=checkbox] {
  display: none;
}
.fav-checkbox input[type=checkbox]:checked ~ .fav-checkbox__icn {
  display: none;
}
.fav-checkbox input[type=checkbox]:checked ~ .fav-checkbox__icn-fav {
  display: inline;
}
.fav-checkbox__icn {
  cursor: pointer;
}
.fav-checkbox__icn-fav {
  display: none;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.resume-picture {
  position: relative;
  top: 5em;
  z-index: -1;
  width: 100vw;
  max-height: 40em;
  box-sizing: border-box;
  overflow: hidden;
}
.resume-picture--img {
  width: 100vw;
  max-height: 40rem;
  object-fit: cover;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
}
.header__logo {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2em 0 1em;
  box-shadow: 0px 1px 2px #D2D2D2;
  z-index: 1;
  justify-content: center;
}
.header__logo-img {
  width: 16em;
}
.header__location {
  width: 100vw;
  background-color: #EAEAEA;
  color: #353535;
}
.header__location--txt {
  padding: 20px 0;
  font-weight: 500;
  font-size: 16px;
}
.header__location, .header__location span {
  justify-content: center;
  font-size: x-large;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 18px;
}
.header__return {
  position: absolute;
  left: 75px;
  align-self: center;
}
.header__return--icn {
  color: #353535;
  font-size: xx-large;
}
@media screen and (min-width: 769px) {
  .header__logo {
    padding: 2em 0 2em;
  }
  .header__location--txt {
    padding: 18px 0;
  }
}
@media screen and (max-width: 459px) {
  .header__logo-img {
    width: 60%;
  }
  .header__return {
    left: 1em;
  }
  .header__return--icn {
    font-size: 2.8ch;
  }
}

.concept {
  padding: 3em 1.2em;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F7F7F7;
  margin-top: 150px;
  gap: 20px;
}
.concept__title {
  width: 70%;
  font-size: xx-large;
}
.concept__txt {
  font-size: x-large;
  color: #353535;
  width: 85%;
}
@media screen and (min-width: 769px) {
  .concept__title {
    margin-top: 0.2em;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    width: 85%;
  }
  .concept__txt {
    font-weight: lighter;
    font-size: 1.25em;
    width: 70%;
  }
}

.instruction {
  padding: 3em 1.2em;
  padding-bottom: 6em;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.instruction__title {
  font-size: xx-large;
  padding-bottom: 0.5em;
}
.instruction__steps {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
.instruction__steps-unit {
  display: grid;
  grid-template-columns: 1fr 1fr 8fr;
  width: 80%;
  background-color: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 2em;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 25px 1.75em;
  background: #F6F6F6;
}
.instruction__steps-unit:hover {
  background-color: #F5EDFF;
}
.instruction__steps-unit:hover .instruction__steps-unit--icn {
  color: #9356DC;
}
.instruction__steps-unit--number {
  width: 1.75em;
  height: 1.75em;
  line-height: 1.75em;
  min-width: 1.75em;
  min-height: 1.75em;
  position: relative;
  right: 2em;
  font-size: x-large;
  color: #FFF;
  background-color: #9356DC;
  border-radius: 100%;
}
.instruction__steps-unit--txt {
  font-size: large;
  font-weight: bold;
  position: relative;
  right: 2.25em;
}
.instruction__steps-unit--icn {
  color: #7E7E7E;
  font-size: xx-large;
  margin-right: 1em;
  margin-left: 0.5em;
  position: relative;
  right: 1em;
}
@media screen and (min-width: 769px) {
  .instruction {
    width: auto;
  }
  .instruction__steps {
    width: auto;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .instruction__steps-unit {
    min-width: 16em;
    width: 25%;
    padding: 1.25em;
  }
  .instruction__steps-unit--number {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    min-height: 1.5em;
    min-width: 1.5em;
    right: 1.5em;
  }
  .instruction__steps-unit--icn {
    padding-left: 10px;
  }
  .instruction__steps-unit--txt {
    font-size: large;
    font-weight: bold;
    right: 2em;
  }
}
@media screen and (min-width: 1033px) {
  .instruction__steps {
    justify-content: flex-start;
  }
  .instruction__steps-unit--txt {
    font-size: medium;
  }
}

.restaurants {
  padding: 3em 1.2em;
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
}
.restaurants__title {
  font-size: xx-large;
  padding-bottom: 0.25em;
}
.restaurants__menu {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
  gap: 4em;
}
.restaurants__menu, .restaurants__menu a {
  color: #000;
}
.restaurants-card {
  position: relative;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 1em;
  background-color: #FFF;
  height: 280px;
  overflow: hidden;
}
.restaurants-card:hover {
  background-color: rgba(234, 234, 234, 0.5);
}
.restaurants-card__frame {
  height: 200px;
}
.restaurants-card__frame--picture {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.restaurants-card__low-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurants-card__new {
  position: absolute;
  top: 0em;
  right: 1em;
  padding: 0.5em;
  background: #99E2D0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  color: #008766;
  font-size: large;
  width: 80px;
  text-align: center;
}
.restaurants-card__txt {
  padding: 0 18px 0 14px;
  line-height: 5px;
}
.restaurants-card__txt--name {
  font-size: x-large;
}
.restaurants-card__txt--undername {
  font-size: large;
}
@media screen and (max-width: 380px) {
  .restaurants-card__txt {
    padding: 0 10px 0 10px;
  }
  .restaurants-card__txt--name {
    font-size: larger;
  }
}
@media screen and (min-width: 769px) {
  .restaurants {
    align-items: baseline;
  }
  .restaurants__menu {
    display: flex;
    gap: 25px;
    width: 120em;
  }
  .restaurants-card {
    width: 100%;
  }
}

.footer {
  padding: 3em 1.2em;
  padding-top: 5px;
  padding-bottom: 35px;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  color: #FFF;
}
.footer__content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.footer__content--grid {
  display: grid;
  grid-template-columns: 1fr 20fr;
  gap: 5px;
}
@media screen and (min-width: 769px) {
  .footer--margin {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5em;
    width: 100%;
  }
  .footer__content {
    flex-direction: row;
    gap: 2em;
  }
  .footer__content--grid {
    display: inline;
  }
  .footer__content--icn {
    margin-right: 0.2em;
  }
}

footer {
  background-color: #353535;
}
footer, footer a {
  color: #FFF;
}

.menu {
  padding: 3em 1.2em;
  background-color: #F7F7F7;
  border-radius: 2em 2em 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 40px;
}
.menu__button {
  padding: 20px 0;
}
.menu__title {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.menu__title--fav {
  padding-right: 0.45em;
}
.menu__title > span {
  font-family: "Shrikhand", cursive;
  font-size: 3ch;
  margin-right: 1em;
}
.menu__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  margin-bottom: 4em;
}
.menu__content--title {
  position: relative;
  padding: 0.5em 0;
  margin: 1em 0;
}
.menu__content--title::after {
  position: absolute;
  width: 40px;
  content: "";
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #99E2D0;
}
.menu-card {
  position: relative;
  right: 0.25em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  padding: 1em 1.45em 1em 0.8em;
  width: auto;
  background-color: #FFF;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 1.5em;
}
.menu-card--section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.menu-card__frame {
  overflow: hidden;
}
.menu-card__txt {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  width: 80%;
}
.menu-card__txt--main {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: large;
  font-weight: bold;
}
.menu-card__txt--sub {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.menu-card__txt--price {
  font-size: large;
  font-weight: bold;
  color: #353535;
}
.menu-card:hover {
  background-color: #F5EDFF;
}
@media screen and (min-width: 769px) {
  .menu {
    padding-right: 10%;
    padding-left: 10%;
  }
  .menu__title {
    padding-top: 50px;
    justify-content: center;
  }
  .menu__title--fav {
    padding-right: 0em;
  }
  .menu-card {
    padding: 1em 1.9em 1em 1.6em;
  }
}

/*# sourceMappingURL=style.css.map */
