
@mixin usualy-title {
    font-size: xx-large;
}

@mixin core-mrg {
    margin: 0 3em;
}

@mixin instruction-nmb {
    width: $round-icn;
    height: $round-icn;
    line-height: $round-icn;

    // Evite la déformation en cas de très basse résolution.
    min-width: $round-icn;
    min-height: $round-icn;

    position: relative;
    right: 2em;
    font-size: x-large;
}