$full-wdt: 100vw;
$round-icn: 1.75em;
$round-icn-desk: 1.5em;

$global-time-trans: 300ms;
$global-scale-trans: 1.05;

$primary-color: #9356DC;
$second-color: #FF79DA;
$third-color : #99E2D0;
$txt-second-color: #353535;
$fake-wdt: #F7F7F7;
$fake-grey: #7E7E7E;
