header {
    position: absolute;
    top: 0;
    left: 0;
    width: $full-wdt;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;


    &__logo {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 1.5em;
        box-shadow:  0px 5px 5px #D2D2D2;;
        z-index: 1;
        justify-content: center;

        &-img {
            width: 18em;
        }
    }

    &__location {
        width: $full-wdt;
        background-color: #EAEAEA;
        color: $txt-second-color;

        &--txt {
            padding: 0.75em 0;
        }

        &, span {
            justify-content: center;
            font-size: x-large;
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: 0.75em;
        }
    }

    
    &__return {
        position: absolute;
        left: 2em;
        align-self: center;

        &--icn {
            color: $txt-second-color;
            font-size: xx-large;
        }
    }

    @media screen and (min-width:769px) {
        &__logo {
            padding: 2.5em;
        }
    }

    @media screen and (max-width:459px) {
        &__logo-img {
            width: 65%;
        }

        &__return {
            left: 1em;
            &--icn {
                font-size: 2.8ch;
            }
        }
    }
}


