.instruction {
    margin: 2em 0;
    padding: 0 2em 4em;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFF;
    &__title {
        margin-top: 2em;
        @include usualy-title;
    }

    &__steps {
        width: 85%;
        display: flex;
        flex-direction: column;
        gap: 3.5em;
        align-items: center;

        &-unit {
            display: grid;
            grid-template-columns: 1fr 1fr 8fr;
            width: 80%;
            background-color: $fk-wdt;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
            border-radius: 2em;
            text-align: center;
            justify-content: center;
            align-items: center;
            padding: 1.75em;
            background: #F6F6F6;

            &:hover {
                background-color: #F5EDFF;
            }

            &:hover .instruction__steps-unit--icn {
                color: $prm-color;
            }

            &--number {
            @include instruction-nmb;
            color: #FFF;
            background-color: $prm-color;
            border-radius: 100%;
            text-align: center;
            }

            &--txt {
                font-size: large;
                font-weight: bold;

                position: relative;
                right: 2.25em;
            }

            &--icn {
                color: $fk-grey;
                font-size: xx-large;
                margin-right: 1em;
                margin-left: 0.5em;

                position: relative;
                right: 1em;
            }
        }
    }

    @media screen and (min-width:769px) {
        width: auto;
    
        &__steps {
            width: auto;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
    
            &-unit {
                min-width: 15em;
                width: 25%;
                padding: 1em;
    
                &--number {
                    width: $rnd-icn-desk;
                    height: $rnd-icn-desk;
                    line-height: $rnd-icn-desk;
                    min-height: $rnd-icn-desk;
                    min-width: $rnd-icn-desk;
                    right: 1.5em;
                }
    
                &--icn {
                    padding-left: 0.25em;
                }
    
                &--txt {
                    font-size: medium;
                    font-weight: bold;
                }
            }
        }
    }
}
