
.restaurants {
    @include core-mrg;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 340px) {
        margin: 0 2em 0 3em;
    }

    &__title {
        @include usualy-title;
    }

    &__menu {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 4em;

        &, a {
            color: #000;
        }
    }

    &-card {
        position: relative; // Pour les badges "nouveau".
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        background-color: #FFF;

        &:hover{
            background-color: rgba(234, 234, 234, 0.5);
        }
    
        &__frame {
            height: 16em;
            
            &--picture {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        &__low-content {
            display: flex;
            flex-direction:row;
            justify-content: space-between;
        }

        &__new {
            position: absolute; // Combiné au relative du parent, tracker parfait.
            top: 1em;
            right: 0.75em;
            padding: 0.5em;
            background: #99E2D0;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
            border-radius: 2px;
            color: #008766;
            font-size: large;
        }

        &__txt {

            &--content {
                margin-left: 1em;
                display: flex;
                flex-direction:column;
                line-height: 0em;
            }
            
            &--name {
                font-size: x-large;
            }

            &--undername {
                font-size: large;
            }

            @media screen and (max-width: 380px) {

                &--content {
                    margin-left: 0.5em;
                }

                &--name {
                    font-size: larger;
                    margin-top: 1.5em;
                }
    
                &--undername {
                    font-size: large;
                } 
            }
        }
    }

    &-checkbox {
        font-size: xx-large;
        align-self: center;
        margin-right: 0.5em;
        z-index: 1; // Nécessaire pour être clickable par dessus la card clickable également.

        & input[type="checkbox"] {
            display: none;
    
            &:checked ~ .restaurants-checkbox__icn {
                display: none;
            }
            &:checked ~ .restaurants-checkbox__icn-fav {
                display: inline;
            }
        }

     &__icn {
        cursor: pointer;
            &-fav {
                display: none;
                background: -webkit-linear-gradient($second-color, $primary-color);
                background-clip: text; // Essentiel pour coller au rendu qui suit la courbe !
                color: transparent; // A mes yeux inutiles mais nécessaire pour le W3C + warning message.
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    @media screen and (min-width:769px) {
        align-items: baseline;

        &__menu {
            display: flex;
            width: 120em;
        }

        &-card {
            width: 100%;
        }
    }
}